.box {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: left;
    align-content: left;
    column-gap: 20px;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
}

input {
    margin: 5px;
}

button {
    font-weight: 500;
    font-size: medium;
    margin: 5px 
};

header {
    justify-content: center;
    align-content: center;
    font-weight: 600;
}